colormap==1.0.2
cycler==0.10.0
easydev==0.9.38
functools32==3.2.3.post2
matplotlib==3.1.2
numpy==1.13.1
pandas==0.25.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.0
scikit-image==0.16.2
scipy==0.19.1
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
sphinx
